{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}Женские{% endblock title %}
{% block content %}

    <section class="women">
        <div class="grid" id="women_services">
            <!-- cards with women's services go in here -->
        </div>

        <script src="{% static 'js/women.js' %}"></script>
        <!-- <script src="https://res.cloudinary.com/dnk8ukd2y/raw/upload/v1620196731/hairsalon_static/js/women.js"></script> -->

    </section>

{% endblock content %}


